body {
    background-color: aquamarine;
}

footer {
    padding-top: 10px;
    display: block;
    width: 100vw;
    background: black;
    color: lightgrey;
    bottom: 0;
    position: absolute;
    text-align: center;
    height: 100px;
}

#author {
    font-style: italic;
}

button {
    font-size: 16px;
}

label, h4 {
    font-size: 22px;
}


.card {
    background-color: khaki;
    padding-left: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px grey;
}

#input {
    height: 85px;
}

#divResult {
    width: 200px;
    height: 135px;
}

#github {
    width:30px;
    height:30px;
}

