body {
    background-color: aquamarine;
}

footer {
    display: block;
    width: 100vw;
    background: black;
    color: lightgrey;
    bottom: 0;
    position: absolute;
    text-align: center;
    height: 100px;
}

#author {
    font-style: italic;
}

.card {
    background-color: khaki;
    padding-left: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px grey;
}

#input {
    height: 70px;
}

#divResult {
    width: 200px;
    height: 100px;
}